.projects-list {
    display: flex;
    flex-wrap: wrap;
    max-height: 383px;
    overflow: auto;
    margin-top: 15px;
}

.projects-list::-webkit-scrollbar {
    width: 0;
}

.projects-list__item {
    width: 50%;
    padding: 10px;
    margin: 0;
    text-align: center;
}